//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 04 17:17:17 2020
//! **************************************************************************

SCHEMATIC START;
COMP "DAT_A<0>" LOCATE = SITE "P66" LEVEL 1;
COMP "DAT_A<1>" LOCATE = SITE "P62" LEVEL 1;
COMP "DAT_A<2>" LOCATE = SITE "P61" LEVEL 1;
COMP "DAT_A<3>" LOCATE = SITE "P59" LEVEL 1;
COMP "DAT_B<0>" LOCATE = SITE "P99" LEVEL 1;
COMP "DAT_A<4>" LOCATE = SITE "P58" LEVEL 1;
COMP "DAT_B<1>" LOCATE = SITE "P100" LEVEL 1;
COMP "DAT_A<5>" LOCATE = SITE "P57" LEVEL 1;
COMP "DAT_B<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "DAT_A<6>" LOCATE = SITE "P56" LEVEL 1;
COMP "DAT_B<3>" LOCATE = SITE "P102" LEVEL 1;
COMP "DAT_A<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "DAT_B<4>" LOCATE = SITE "P104" LEVEL 1;
COMP "DAT_B<5>" LOCATE = SITE "P105" LEVEL 1;
COMP "DAT_B<6>" LOCATE = SITE "P111" LEVEL 1;
COMP "DAT_B<7>" LOCATE = SITE "P112" LEVEL 1;
COMP "LED0" LOCATE = SITE "P82" LEVEL 1;
COMP "Common0" LOCATE = SITE "P44" LEVEL 1;
COMP "LED1" LOCATE = SITE "P81" LEVEL 1;
COMP "Common1" LOCATE = SITE "P43" LEVEL 1;
COMP "LED2" LOCATE = SITE "P80" LEVEL 1;
COMP "LED3" LOCATE = SITE "P79" LEVEL 1;
COMP "A" LOCATE = SITE "P41" LEVEL 1;
COMP "B" LOCATE = SITE "P40" LEVEL 1;
COMP "C" LOCATE = SITE "P35" LEVEL 1;
COMP "D" LOCATE = SITE "P34" LEVEL 1;
COMP "E" LOCATE = SITE "P32" LEVEL 1;
COMP "F" LOCATE = SITE "P29" LEVEL 1;
COMP "G" LOCATE = SITE "P27" LEVEL 1;
COMP "toggleMode" LOCATE = SITE "P45" LEVEL 1;
PIN toggleMode_pin<0> = BEL "toggleMode" PINNAME PAD;
PIN "toggleMode_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
SCHEMATIC END;

