

NET "PB5" LOC = P51;
NET "a" LOC = P41;
NET "b" LOC = P40;
NET "c" LOC = P35;
NET "Common0" LOC = P44;
NET "d" LOC = P34;
NET "e" LOC = P32;
NET "f" LOC = P29;
NET "g" LOC = P27;
NET "OSC" LOC = P123;


#NET "Slide1" LOC = P62;
#NET "Slide2" LOC = P61;
#NET "Slide3" LOC = P59;
#NET "Slide4" LOC = P58;



NET "Buzzer" LOC = P83;
NET "Common1" LOC = P43;
